/************************ Reset CSS ***********************/
.admin-bar .navbar {
    margin-top: 32px;
}
.admin-bar .menu_two + div, .admin-bar .menu_two + section {
    margin-top: 130px;
}
.shortcode_info ul.article_list li a::before {
    content: "\68";
    font-family: 'ElegantIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding-right: 15px;
}
.shortcode_info .recently_added {
    margin-top: 30px;
}
.shortcode_info .recently_added h4 {
    margin-bottom: 20px;
}
.toggle_body p:last-child,
.tab_shortcode .tab-content p {
    margin: 0;
}
.nav-sidebar .nav-item .nav-link img {
    margin-right: 15px;
    padding-right: 0;
    max-width: 18px;
    height: auto;
    padding-bottom: 5px;
}
.nav-sidebar .nav-item.no_icon.active .nav-link img,
.nav-sidebar .nav-item.no_icon .nav-link img+img {
    display: none;
}
.doc_left_sidebarlist .doc-title {
    font-size: 22px;
}
.nice-select.open .list {
    width: 220px;
}
.shortcode_title h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 12px;
}
.shortcode_info .elementor-widget-heading h2.elementor-heading-title,
.shortcode_info h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.toggle_btn {
    margin-top: .25rem!important;
}
.doc_tag .nav-item .nav-link {
    letter-spacing: .5px;
}
.documentation_text .round {
    background: transparent;
}
.documentation_text .doc-logo {
    padding-bottom: 20px;
}
.doc_faq_info .card-body p:last-child {
    margin-bottom: 0;
}
.explanation p:last-child {
    margin-bottom: 0;
}
.explanation::after {
    border-radius: 3px;
}
.table_shortcode tbody tr .th {
    background: var(--brand_color);
    border: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    vertical-align: middle;
}

/** === Tooltip styling === **/
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: rgba(0, 0, 0, 0.05);
    border-width: 11px;
}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border,
.tooltipster-sidetip .tooltipster-arrow-border {
    border: 10px solid transparent;
    left: -1px;
    top: 0;
}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #fff;
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #fff;
}

/** === Docs Single Page Styles === **/
.wedocs-feedback-wrap a .count {
    height: 15px;
}
.feedback_link .h_btn {
    line-height: 1.8;
    color: #fff;
}
.feedback_link .h_btn:last-child {
    margin-left: 0;
}
.row.feedback_link.wedocs-feedback-wrap {
    text-align: left;
    margin: 0 -15px;
    position: relative;
}
.wedocs-icon-spin {
    position: absolute;
    right: -5px;
    top: 20px;
}
.elementor-page .shortcode_title {
    padding-left: 10px;
}
.elementor-page .post-password-required .shortcode_title h1 {
    padding-left: 0;
}
.wedocs-alert.wedocs-alert-success {
    width: 100%;
    text-align: center;
    margin: 0 15px;
}
.footnotes-link::before {
    display: none;
}
.footnotes-link {
    color: var(--brand_color);
}
.tip_content p {
    font-size: 14px;
}
.tip_content p:last-child {
    margin-bottom: 0;
}
.footnotes_item strong {
    position: relative;
}
span.top-arrow {
    position: absolute;
    top: -3px;
}

/** === Comment Form === **/
.blog_comment_box p,
.blog_comment_box .form-submit,
.blog_comment_box p.logged-in-as {
    margin-left: 15px;
}

.blog_comment_box .get_quote_form {
    position: relative;
}

p.comment-form-cookies-consent {
    position: absolute;
    top: 0;
    font-size: 14px;
    display: flex;
    align-items: baseline;
}

p.comment-form-cookies-consent label {
    padding-left: 5px;
}

/** === Search widget === **/
.widget_search .search-form .form-control {
    padding: 0 20px;
    background: #f3f4f9;
    border-radius: 4px;
    height: 60px;
    font-size: 15px;
    color: #677294;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    z-index: 0;
    border-color: transparent;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.widget_search .search-form button {
    position: absolute;
    background: 0 0;
    padding: 0;
    border: 0;
    right: 22px;
    top: 51%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    color: #282835;
    z-index: 0;
}
.widget_search .search-form .form-control:focus {
    border-color: var(--brand_color);
    background: #fff;
}

/** === Widget recent comments === **/
.widget_recent_comments #recentcomments .recentcomments {
    position: relative;
    color: #686d7d;
}
.widget_recent_comments #recentcomments .recentcomments a {
    color: #686d7d;
}
.widget_recent_comments #recentcomments .recentcomments a:hover {
    color: var(--brand_color);
}
.widget_recent_comments .comment-author-link {
    font-size: 13px;
    font-weight: 500;
    color: var(--secondary_color);
    margin-bottom: 0;
    display: block;
    position: relative;
    padding-left: 22px;
}
.widget_recent_comments .comment-author-link::before {
    position: absolute;
    content: "\77";
    font-family: 'ElegantIcons';
    left: 0;
    top: 0;
    padding-right: 10px;
    font-size: 13px;
}

.widget_recent_comments #recentcomments .recentcomments {
    font-weight: 400;
}

.widget_recent_comments #recentcomments .recentcomments:not(:last-child) {
    margin-bottom: 15px;
}

.widget_recent_comments #recentcomments .recentcomments .comment-author-link a {
    font-size: 13px;
    font-weight: 500;
    color: var(--secondary_color);
}

/** === Single post === **/
.single_post_tags.post-tags{
    font-weight: 500;
    clear: both;
    margin-top: 40px;
}
.blog_comment_box{
    clear: both;
}
.single_post_tags.post-tags a {
    color: var(--p_color);
    padding: 2px 18px;
    display: inline-block;
    background: #f3f8f9;
    font-size: 14px;
    border-radius: 4px;
    transition: all 0.2s linear;
    margin: 4px;
    font-weight: 400;
}
.single_post_tags.post-tags a:hover {
    box-shadow: 0 10px 20px 0 rgba(12, 118, 142, 0.24);
    background: var(--brand_color);
    color: #fff;
}
.post_tag .cats {
    display: inline-block;
    margin-left: 15px;
}
.post_tag .cats::before {
    content: "";
    width: 1px;
    height: 13px;
    background: #B7B9BE;
    display: inline-block;
    margin-right: 13px;
}
.post_tag .cats a::before {
    display: none;
}
.post_tag .cats a:hover {
    color: var(--brand_color);
}
.logged-in .blog_comment_box .get_quote_form {
    padding-top: 0;
}
.blog_comment_box p.logged-in-as {
    margin-bottom: 40px;
}

.subscribe_widget img {
    margin-bottom: 32px;
}

/** === Contact Form 7 === **/
.wpcf7-form-control span.wpcf7-list-item {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: var(--p_color);
    padding-left: 22px;
    margin: 20px 20px 15px;
    position: relative;
}
.wpcf7-form-control span.wpcf7-list-item.first {
    margin-left: 0;
}
.wpcf7 input[type="checkbox"] {
    width: 12px;
    position: absolute;
    outline: none;
    height: 12px;
    top: 1px;
    left: 0;
    margin: 0;
}
.wpcf7 input[type="checkbox"]:before {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid var(--p_color);
    top: 0;
    left: 0;
    border-radius: 2px;
    background-color: #fff;
}
.wpcf7 input[type="checkbox"]:checked:before {
    border-color: var(--brand_color);
}
.wpcf7 input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 5px;
    height: 11px;
    border: solid var(--brand_color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: -2px;
    left: 5px;
    opacity: 0;
    transition: all 0.2s linear;
}
.wpcf7 input[type="checkbox"]:checked:after {
    opacity: 1;
}

.wpcf7 input[type="radio"] {
    width: 12px;
    position: absolute;
    outline: none;
    height: 12px;
    margin: 0;
    left: 0;
    top: 1px;
}
.wpcf7 input[type="radio"]:before {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid var(--p_color);
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.2s linear;
}
.wpcf7 input[type="radio"]:checked:before {
    border-color: var(--brand_color);
}
.wpcf7 input[type="radio"]:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--brand_color);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3px;
    margin-top: -3px;
    transform: scale(0);
    transition: all 0.2s linear;
}
.wpcf7 input[type="radio"]:checked:after {
    transform: scale(1);
}

.wpcf7 input[type="text"], .wpcf7 input[type="url"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"], .wpcf7 textarea {
    height: 60px;
    line-height: 55px;
    background: #f9fbfc;
    box-shadow: none;
    padding-left: 30px;
    font-weight: 400;
    transition: all 0.2s linear;
    border-radius: 6px;
    border: 1px solid #d9e1e3;
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
}
.wpcf7 textarea {
    height: 200px;
    padding-top: 0;
    font-size: 14px;
}
.wpcf7 input[type="submit"] {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    box-shadow: 0 20px 30px 0 rgba(12, 118, 142, 0.24);
    border-radius: 4px;
    background: var(--brand_color);
    display: inline-block;
    padding: 14px 28px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .18s ease-in-out;
}
.wpcf7 input[type="submit"] {
    border: 0;
    padding: 13px 42px;
    box-shadow: none;
}
.wpcf7 input[type="submit"]:hover {
    box-shadow: 0 20px 30px 0 rgba(12, 118, 142, 0.24);
}

.wpcf7-form h6 {
    margin-bottom: 5px;
}
/* !--- End Form Styling ---! */

.doc_documentation_area {
    padding-bottom: 0;
}
article#post {
    padding-bottom: 100px;
}
.nav-sidebar .nav-item .dropdown_nav li {
    margin: 6px 0;
}
.nav-sidebar:not(.doc-nav) .nav-item .dropdown_nav li a {
    line-height: 1.3em;
}
/** === Footnotes Columns === **/
.footnotes_column_2 {
    column-count: 2;
    column-gap: 30px;
}
.footnotes_column_3 {
    column-count: 3;
    column-gap: 30px;
}
.footnotes_column_4 {
    column-count: 4;
    column-gap: 30px;
}
.documentation_item .icon img {
    max-width: 36px;
}
.nav-sidebar .nav-item .dropdown_nav{
    padding-top: 5px;
}

/** === Code Syntax Highlighter === **/
.docly-source-code div.code-toolbar>.toolbar {
    position: absolute;
    top: 10px;
    right: 25px;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.docly-source-code div.code-toolbar>.toolbar a, .docly-source-code div.code-toolbar>.toolbar button,
.docly-source-code div.code-toolbar>.toolbar span {
    display: inline-block;
    color: #bbb;
    font-size: .8em;
    padding: 3px 10px;
    border: 0;
    background: #242323;
    -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    margin: 0 2px;
    border-radius: 5px;
}
div.code-toolbar>.toolbar a:focus, div.code-toolbar>.toolbar a:hover, div.code-toolbar>.toolbar button:focus,
div.code-toolbar>.toolbar button:hover, div.code-toolbar>.toolbar span:focus, div.code-toolbar>.toolbar span:hover {
    color: #fff!important;
    text-decoration: none;
}

/** === Blog tweaks === **/
.widget .c_head {
    margin-bottom: 30px;
}
.widget_tag_cloud.widget .c_head {
    margin-bottom: 35px;
}
.widget_tag_cloud, .widget_categories {
    margin-bottom: -8px;
}
.doc_feedback_slider .item h5{
    margin-bottom: 10px;
}
.post_author .author_text a:hover h4,
.post_tag a:hover{
    color: var(--brand_color);
}
section.doc_blog_classic_area {
    padding: 120px 0;
}

/** === Ol & UL List Styling === **/
.blog_single_item ul.list-box,
.wp-block-latest-posts.wp-block-latest-posts__list,
.blog_single_item ol.list-box{
    box-shadow: 0 3px 6px 0 rgba(4, 73, 89, 0.02);
    border: 1px solid #e5ebef;
    padding: 20px;
    border-radius: 2px;
}

.blog_content > ul, .blog_single_item ul, .blog_content > ol,
.comment_box .media-body > ol,
.comment_box .media-body > ul {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    padding-left: 25px;
}
.wp-block-latest-posts.wp-block-latest-posts__list,
.blog_single_item ol {
    list-style: none;
    padding-left: 20px;
    margin-bottom: 25px;
    margin-top: 10px;
}
.blog_single_item ol ol li:first-child,
.blog_single_item ul ul li:first-child {
    margin-top: 10px;
}
.blog_single_item ol:not(.ordered-list) {
    list-style: decimal;
    padding-left: 40px;
}
.blog_single_item ul li, .blog_single_item ol li {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.blog_single_item ul:not(.ordered-list) li {
    position: relative;
    padding-left: 20px;
}
.blog_single_item ol:not(.ordered-list) li {
    padding-left: 10px;
}
.blog_single_item ul li + li, .blog_single_item ol li + li {
    margin-top: 15px;
}
.blog_single_item ul:not(.ordered-list)>li:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--brand_color);
    position: absolute;
    left: 0;
    top: 7px;
}
.blog_single_item ul ul, .blog_single_item ol ol {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: unset;
    box-shadow: none;
}

.blog_single_item blockquote p,
blockquote p{
    color: var(--p_color);
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 45px;
    font-size: 20px;
}
.blog_single_item blockquote cite,
blockquote cite{
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary_color);
    font-style: normal;
}
.blog_top_post.sticky {
    background: #edfbfe;
    position: relative;
}
.blog_top_post.sticky .sticky-label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background: var(--brand_color);
    color: #fff;
}

/** === Unit test === **/
.blog .navbar:not(.navbar_fixed) .logo h3{
    color: #fff;
}
.navbar_fixed .navbar-brand.logo h3 {
    padding-top: 10px;
}
.single.has_not_menu .navbar:not(.navbar_fixed) {
    height: 98px;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link span {
    position: fixed;
    right: 15px;
}
.comment ul.children {
    list-style: none;
    padding-left: 100px;
}
.comment_box .trackback, .comment_box .pingback {
    padding-top: 20px;
}
.footer_area.no_footer_widgets{
    padding-top: 20px;
}
.footer_area.no_footer_widgets .footer_bottom{
    padding-bottom: 45px;
}
.docs_widget ul li+li {
    padding-top: 25px;
}
.docs_widget ul li a img {
    max-width: 23px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
    margin-top: -5px;
}
.blog_related_post .blog_grid_post img {
    height: auto;
}
.shortcode_info img {
    max-width: 100%;
    height: auto;
}
.doc_banner_area_two {
    padding: 0;
    display: flex;
    align-items: center;
}
.navbar_fixed.menu_one .nav_btn {
    background: transparent;
}
.fact_navigation .nav-item .nav-link{
    padding-left: 0;
}

/** === Search Keywords === **/
.header_search_keyword {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    margin-top: 20px;
}

.header_search_keyword span {
    font-size: 14px;
    color: #fff;
    margin-right: 15px;
    font-weight: 400;
}

.header_search_keyword ul {
    margin-bottom: 0px;
}

.header_search_keyword ul li {
    display: inline-block;
    margin-right: 4px;
}

.header_search_keyword ul li a {
    display: block;
    font-size: 14px;
    padding: 0px 12px;
    border-radius: 45px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 300ms linear 0s;
    font-weight: 500;
}

.header_search_keyword ul li a:hover {
    background: #fff;
    color: var(--brand_color);
    border-color: #fff;
}

.doc_banner_area_two .header_search_keyword ul li a:hover {
    background: #4c5267;
    color: #fff;
}

.doc_banner_area_two .header_search_keyword span {
    color: #4c5267;
}

.doc_banner_area_two .header_search_keyword ul li a {
    color: var(--secondary_color);
    border: 1px solid var(--secondary_color);
}

/** === Doc search form result === **/
form.banner_search_form {
    display: flex;
}
.doc_banner_text .banner_search_form {
    transition: all .4s;
}
.banner_search_form .form-control:focus .doc_banner_area_one {
    align-items: flex-start;
}
.banner_search_form .form-control:focus .doc_banner_text {
    padding-top: 200px;
}
.doc_banner_text .banner_search_form {
    margin-top: 45px;
}
.doc_banner_text .banner_search_form{
    position: relative;
}
#docly-search-result{
    width: 100%;
    background: #fff;
    border: 1px solid rgb(230, 238, 239);
    border-radius: 4px;
    box-shadow: 0 3px 4px 0 rgba(4, 73, 89, 0.06);
    position: absolute;
    top: 70px;
    margin-top: 10px;
    padding: 20px 25px;
    font-size: 14px;
    font-weight: 400;
    display: none;
    transition: all .4s;
}
#docly-search-result.ajax-search{
    display: block;
}
#docly-search-result::before{
    content: "";
    width: 12px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: -6px;
    transform: rotate(45deg);
    left: 40px;
    border-left: 1px solid #e6eeef;
    border-top: 1px solid #e6eeef;
}
.search-result-item .doc-item,
.search-result-item .doc-list{
    text-align: left;
}
.search-result-item .doc-item a{
    color: var(--secondary_color);
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #e6eeef;
    font-weight: 500;
}
.search-result-item .doc-list{
    padding: 0;
    display: flex;
    height: 100%;
}
.search-result-item.parent-doc .doc-item {
    margin-bottom: 5px;
}
#docly-search-result .search-result-item.parent-doc {
    margin-top: 15px;
}
#docly-search-result .search-result-item.parent-doc:first-child {
    margin-top: 0;
}
.search-result-item .doc-section {
    border-right: 1px solid #dee7e8;
    padding: 5px 15px 5px 25px;
    text-align: right;
}
.search-result-item .doc-section a {
    color: #898d99;
}
.search-result-item .doc-article {
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}
.search-result-item .doc-article:hover {
    background: rgba(143,187,237,.1);
}
.search-result-item .doc-article:hover a {
    color: #2f495e;
}
.search-result-item .doc-article a {
    color: var(--p_color);
}
.search-result-item span {
    display: inline-block;
}

.doc_feedback_slider .item p {
    font-weight: 300;
}

.dk_menu .hamburger-cross span,
.dk_menu .hamburger span{
    background: var(--p_color);
}
.dk_menu .nav-item > .nav-link {
    color: var(--p_color);
}
.breadcrumb .breadcrumb-item:last-child{
    color: var(--secondary_color);
}
.blog_classic_item img {
    max-width: 100%;
    height: auto;
}

/** === Table Design === **/
.page_wrapper table,
.blog_single_item table {
    border: 1px solid #d6d6d6;
}
.page_wrapper table thead,
.blog_single_item table thead {
    background: #f5f5f5;
}
.page_wrapper .table_shortcode thead {
    background: #06a8cb;
}
.page_wrapper table td,
.page_wrapper table th,
.blog_single_item table td,
.blog_single_item table th {
    padding: 12px;
}
.page_wrapper table a,
.blog_single_item table a {
    color: var(--p_color);
}

.docs_widget ul.list-unstyled {
    margin-top: 25px;
    padding-top: 5px;
}

.feedback_link h6 a {
    padding-right: 0;
}

.feedback_link h6 {
    margin-top: -10px;
}

.c_head a {
    color: var(--secondary_color);
}

.journalism-feature-image img {
    margin-left: 25px;
}

.blog_post_author .media-body h5 a {
    color: var(--secondary_color);
}

.wp-block-table.is-style-stripes table {
    border: none;
}

.wp-block-table.is-style-stripes table thead {
    border-bottom: 3px solid;
    background: transparent;
}

.wp-block-table.is-style-stripes table tfoot {
    border-top: 3px solid;
}

/** === Cookie Bar === **/
.cookieAcceptBar {
    position: fixed;
    left:0;
    right: 0;
    text-align: center;
    background: rgb(51, 51, 51);
    color: rgb(204, 204, 204);
    padding: 0 0 10px;
    z-index: 9;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.cookieAcceptBar p {
    margin-bottom: 0;
    padding-top: 10px;
}
.cookieAcceptBar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.cookieAcceptBar button {
    cursor: pointer;
    border: none;
    background-color: var(--brand_color);
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    margin-left: 40px;
    font-size: 12px;
}
/** --- End Cookie --- **/

.journalism-feature-image img {
    top: 150px;
}

.breadcrumb_area_three .breadcrumb_text {
    max-width: 100%;
}

.doc_banner_area_one {
    padding: 250px 0 100px;
    min-height: 750px;
    height: auto;
    align-items: start;
}

.search-result-item .doc-list .doc-section {
    flex: 33% 0 0;
    padding: 5px 15px 5px;
}

#docly-search-result h5 {
    margin-bottom: 0;
}

.search-result-item .doc-article {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    width: 100%;
    flex: 67% 0 0;
    transition: all .3s;
}
#docly-search-result {
    position: relative;
    width: 100%;
}
form.banner_search_form {
    display: block;
}

/** === Registration / Login Form === **/
#reg-form-validation-messages {
    color: #29bd5d;
    padding-bottom: 20px;
    padding-top: 25px;
}

#reg-form-validation-messages .error span {
    padding-right: 5px;
}
#reg-form-validation-messages .error {
    color: #f95959;
}

/** === Link and paragraph style === **/
.onepage-doc-sec p,
.doc-main-content p {
    line-height: 1.9;
}
.onepage-doc-sec li a,
.onepage-doc-sec p a, .doc-main-content p a,
.card-body a, .blog_single_item p a {
    color: inherit;
    position: relative;
    text-decoration: none;
}
.onepage-doc-sec p a::after, .doc-main-content p a::after,
.card-body a::after, .blog_single_item p a::after {
    background-color: rgba(76,122,241,.25);
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: 100%;
    transition: all .2s ease;
    width: 100%;
}
.onepage-doc-sec p a:hover, .doc-main-content p a:hover,
.card-body a:hover, .blog_single_item p a:hover {
    color: #000;
}
.body_dark .onepage-doc-sec p a:hover, .body_dark .doc-main-content p a:hover,
.body_dark .card-body a:hover, .body_dark .blog_single_item p a:hover {
    color: #fff;
}
.onepage-doc-sec p a:hover::after, .doc-main-content p a:hover::after,
.card-body a:hover::after, .blog_single_item p a:hover::after {
    background-color: rgba(76,122,241,.75);
}
.post_author_two .media-body p {
    color: #23262f;
}

#was-this-helpful {
    margin-top: -25px;
}

.documentation_body img {
    max-width: 100%;
    height: auto;
}

.sticky-nav-doc .body_fixed.body_navbar_fixed .doc_left_sidebarlist, .sticky-nav-doc .body_fixed.body_navbar_fixed .doc_rightsidebar {
    padding-top: 50px;
}

.onepage-doc-sec .border_bottom {
    margin: 80px 0 100px 0;
}

.onepage-doc-sec .doc-content h4,
.onepage-doc-sec .doc-content h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
}

#post .onepage-doc-sec {
    padding-top: 120px;
    margin-top: -120px;
}

.articles-list .article_list {
    padding-left: 20px;
    padding-top: 1px;
}

.article_list {
    padding-left: 20px;
}

#post .onepage-doc-sec:last-child .child-doc:last-child .border_bottom {
    display: none;
}

.still-stuck {
    margin: 30px 0;
}

.still-stuck.feedback_link.wedocs-feedback-wrap {
    margin-top: 20px;
}

.still-stuck h6 {
    color: var(--p_color);
}

.still-stuck h6 i {
    padding-right: 8px;
}

.still-stuck h6 a {
    padding-right: 0;
}

.still-stuck h6 a {
    color: var(--brand_color);
}

.still-stuck .wedocs-alert {
    margin: -30px 0 0;
}

.process_tab_shortcode ul#myTabs li::before {
    display: none;
}

.ordered-list li ul,
.ordered-list li ol {
    list-style: none;
    padding-left: 0;
}

.taxonomy.forum-post-tags .tags {
    color: #838793;
}

.question-icon {
    margin-top: -20px;
}

input#searchInput {
    border: 0 solid transparent;
    box-shadow: none;
}

form.banner_search_form {
    position: relative;
    z-index: 1;
}

#docly-search-result {
    position: absolute;
    left: 0;
}

.doc_banner_area_one {
    overflow: unset;
}

.doc_banner_area_one .bl_right, .doc_banner_area_one .bl_left {
    bottom: 0;
}

.shortcode_info {
    padding-left: 0;
    padding-right: 45px;
}

.footer_top .widget.widget_nav_menu ul li a.nav-link {
    padding: 0;
}

.preset_footer .f_widget {
    padding-left: 30px;
}

.subscribe_widget .f_social_icon {
    padding-top: 40px;
}

.subscribe_widget p.mchimp-errmessage {
    margin-top: 20px;
    margin-bottom: 0;
}

.doc_banner_text_two .banner_search_form .form-control {
    flex-grow: 1;
}

.doc_banner_text_two .banner_search_form .input-group-append {
    flex-grow: 0;
}

.doc_banner_area_two, .doc_banner_area_two .building_img {
    z-index: unset;
}

.elementor-widget-docly_list_item .steps-panel {
    border: none;
}

.blog_single_item ol li,
.shortcode_info ol li {
    margin-bottom: 15px;
}

.more-communities {
    border-bottom: none;
}

.page-template-page-onepage .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 0;
}

body:not(.single-docs) .body_fixed #font-switcher {
    width: 216px;
}

.doc_banner_area_one .dark {
    z-index: 0;
}

.doc-sec-unique {
    margin-top: 15px;
}

.click_capture {
    background: rgba(0, 0, 0, 0.6);
}

.pointing_img_container .img_pointing {
    position: absolute;
}

.navbar .nav-bar-search + .nav_btn {
    margin-left: 20px;
}

.search_form .search-nav,
.nav-bar-search .search_form:focus-within .search-submit-icon {
    display: none;
}

.search_form:focus-within .search-submit-icon + .search-nav {
    display: flex;
}

.search_form .search-nav {
    position: absolute;
    top: 5px;
    right: 10px;
}

.search_form .search-nav button {
    font-size: 20px;
    position: static;
}

.search_form .search-nav .clear {
    padding: 2px;
    border: 1px solid #e1e4e5;
    border-radius: 50%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    font-size: 16px;
    margin-top: 6px;
    margin-left: 5px;
}

.search_form .search-nav .clear:hover {
    background: #E81123;
    border-color: #E81123;
    color: #fff;
}

.sticky_menu .menu_one .menu > .nav-item .nav-link {
    font-weight: 500;
}

.docly-banner-support .banner-content-wrapper .banner-title {
    font-weight: 700;
}

.ordered-list li p:last-child {
    margin-bottom: 0;
}

.widget_search .search-form input[type="search"]::-webkit-search-decoration,
.widget_search .search-form input[type="search"]::-webkit-search-cancel-button,
.widget_search .search-form input[type="search"]::-webkit-search-results-button,
.widget_search .search-form input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

#docly-search-result h5 {
    margin-bottom: 0;
    color: var(--secondary_color);
}